form#item-form
  .row
    .small-12.columns
      label name
      input#name(type='text', name='name')
  .row
    .small-6.columns
      label location
      input#location(type='text', name='location')
    .small-6.columns
      label price
      input#price(type='text', name='price')
  .row
    .small-3.columns
      label working state
      input#missing(type='checkbox', name='missing' value='missing')
      label missing
      input#broken(type='checkbox', name='broken' value='broken')
      label broken
    .small-6.columns
      label type
      input#electronics(type='radio', name='type', value='electronics')
      label electronics
      input#mechanical(type='radio', name='type', value='mechanical')
      label mechanical
      input#programming(type='radio', name='type', value='programming')
      label programming
    .small-3.columns
      label date obtained
      input#create-date.date(type='date', name='create-date')
