<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scouting App</title>

    <link rel="stylesheet" href="../public/assets/css/materialize.min.css">
    <link rel="stylesheet" href="../public/assets/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper paladins-background">
                <a href="#" class="brand-logo index-link">FRC Scouting App</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="index-link">Home</a></li>
                    <li><a href="#" class="data-link">Data</a></li>
                    <li><a href="#" class="upload-link">Upload</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#" class="index-link">Home</a></li>
                    <li><a href="#" class="data-link">Data</a></li>
                    <li><a href="#" class="upload-link">Upload</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div class="index">
            <div class="container">
                <div class="row">
                    <h2>INDEX</h2>
                </div>
            </div>
        </div>

        <div class="data">
            <div class="container">
                <div class="row">
                    <h2>DATA</h2>
                </div>
            </div>
        </div>

        <div class="upload">
            <div class="container">
                <div class="row">
                    <h2>UPLOAD</h2>
                </div>
            </div>
        </div>
    </main>

    <footer class="page-footer paladins-background">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Sitemap</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#">Home</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Data</a></li>
                        <li><a class="grey-text text-lighten-3" href="#">Upload</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © <span id="copyright-year"></span> <a href="//petoskeypaladins.org/">Petoskey Paladins</a>
                <a class="grey-text text-lighten-4 right" href="//twitter.com/paladins3618"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </footer>
</body>

<!-- Scripts -->
<script src="../public/assets/js/jquery-3.1.1.min.js"></script>
<script src="../public/assets/js/materialize.min.js"></script>
<script src="../public/assets/scripts/main.js"></script>

</html>