extend layout
block content
  header

  main
    .section#index-banner
      .container
        .row
          .col.s1
            a.button-collapse.top-nav.waves-effect.waves-light.circle.hide-on-large-only(href='#',
                data-activates='nav-mobile')
              i.material-icons.white-text menu
          .col.s12
            h3.header.center.white-text Scouting App
