include base-form
.row
  .small-2.columns
    label quantity
    input#quantity(type='number', name='quantity', value=1)
  .small-2.columns
    input#used(type='checkbox', name='used', value='used')
    label used
