.col.s12 > .btn {
  width: 100%;
}

.paladins-background { /*Paladins blue*/
  background-color: #2E3192 !important;
}

.brand-logo { /*Site logo text placement*/
  margin-left: 5%;
}

.hide-on-med-and-down { /*Nav item placement*/
  margin-right: 5%;
}

body { /*Sticky footer*/
  display: flex; min-height: 100vh; flex-direction: column;
}

main { /*Sticky footer*/
  flex: 1 0 auto;
}

li>a:link {
  color:white;
}

li>a:visited {
  color:white;
}

footer>a:link {
  color:white;
}

footer>a:visited {
  color:white;
}

.footer

.footer-copyright {
  background-color: #2a2c84; padding: 1% 0 1% 0;
}

.footer-copyright > div {
  color:white;
}

@media (min-width: 993px) {
  .page-footer-large {
    display: block;
  }

  .page-footer-small {
    display: none;
  }
}

@media (max-width: 992px) {
  .page-footer-large {
    display: none;
  }

  .page-footer-small {
    display: block;
  }
}

.page-footer-small {
  width: 100%;
}

.page-footer-large {
  width: 100%;
}

.social-media {
  padding: 0 1% 0 1%;
}
